body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f3f6f9;
  width: 100vw;
  height: 100vh;
  font-family: 'Varela Round', sans-serif;
}

/** HEADER **/

header {
  background: #fff;
}

/** DASHBOARD **/

.no-margin {
  margin:0px;
}

.section {
  background: #fff;
  margin-top: 15px;
  padding: 15px;
}

.resumen {
  padding: 0em;
}

.resumen-item {
  padding: .5em;
  text-align: center;
}

.cifra {
  color: #0065ff;
}

/** VIAJES **/

.viajes {
  padding: 0px;
}

.viajes .graph-container div:first-child {
  margin: 0 auto;
}

@media (min-width: 992px) {
  .viajes {
    padding-right: 15px;
  }
}

/** DISTANCIAS **/


/** GANANCIAS **/

.ganancias {
  padding: 0px;
}

.ganancias .graph-container div:first-child {
  margin: 0 auto;
}

@media (min-width: 992px) {
  .ganancias {
    padding-right: 15px;
  }
}