body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f3f6f9;
  width: 100vw;
  height: 100vh;
  font-family: 'Varela Round', sans-serif;  
}

/** HEADER **/

header {
  background: #fff;
  border: 1px #ebecf0 solid;
}

/** DASHBOARD **/

.no-margin {
  margin:0px;
}

.section {
  background: #fff;
  margin-top: 15px;
  padding: 15px;
  border: 1px #ebecf0 solid;
  border-radius: 5px;
}

.section-title {
  padding-top: 15px;
  text-transform: uppercase;
}

.resumen {
  padding: 0em;
}

.resumen-item {
  padding: .5em;
  text-align: center;
}

.resumen-item p {
  margin: 0px;
}

.cifra {
  color: #0065ff;
}

/** VIAJES **/

.viajes {
  padding: 0px;
}

.viajes .graph-container div:first-child {
  margin: 0 auto;
}

@media (min-width: 992px) {
  .viajes {
    padding-right: 15px;
  }
}

/** DISTANCIAS **/


/** GANANCIAS **/

.ganancias {
  padding: 0px;
}

@media (min-width: 992px) {
  .ganancias {
    padding-right: 15px;
  }
}

/**  PAQUETES **/

.paquetes .graph-container div:first-child {
  margin: 0 auto;
}

/** DATE PICKER **/

.date-container {
  padding-top: 15px;
}

.date-icon {
  border: 1px #ebecf0 solid;  
  background: #fff;
  height: 100%;
  padding: 7px 15px;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
}

.date-container input {
  border: 1px #ebecf0 solid;  
  border-left: none;  
  height: 2.25em;
  cursor: pointer;
}

.date-end input {
  border-radius: 0px 5px 5px 0px;
  padding-left: 15px;
}

.date-start .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.date-start .DayPicker-Day {
  border-radius: 0 !important;
}
.date-start .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.date-start .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.date-end .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.date-end .DayPicker-Day {
  border-radius: 0 !important;
}
.date-end .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.date-end .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.date-end .DayPickerInput-Overlay {
  margin-right: -478px;
}